<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
      <div class="side-top">
      </div>
      <div class="group">
      </div>
  </div>
  <div class="chat">
   <%= render "main_chat" %>
    <div class="chat-header">
    </div>
    <div class="main">
    </div>
    <div class="form">
  </div>
</div>