<div class="wrapper">
<%# ここからサイドバーの部分 %>
  <div class="side-bar">
    <%= render "side_bar" %> 
      <div class="side-bar-top">
        <div class="header-name">
         <a href="#">Tom</a>
        </div>
        <div class="write">
          <a href="#">チャットを作成する</a>
        </div>
      </div>
      <div class="rooms">
        <a href="#" class="room">room1</a>
        <a href="#" class="room">room2</a>
      </div>
  </div>
  <%# メインの部分 %>
  <div class="chat">
   <%= render "main_chat" %>
    <div class="header">
    </div>
    <div class="main">
    </div>
    <div class="form">
    </div>
  </div>
</div>