<div class="wrapper">
<%# ここからサイドバーの部分 %>
  <div class="side-bar">
    <%= render "side_bar" %> 
      <div class="side-bar-top">
      </div>
      <div class="rooms">
      </div>
  </div>
  <%# メインの部分 %>
  <div class="chat">
   <%= render "main_chat" %>
    <div class="header">
    </div>
    <div class="main">
    </div>
    <div class="form">
    </div>
  </div>
</div>